.text-center {
    text-align: center;
}
.owl-carousel{
    position: relative;
    cursor: pointer;
}
.am-next {
    position: absolute;
    top: 40%;
    right: 0;
}
.am-prev {
    position: absolute;
    top: 40%;
    left: 0;
}
.am-prev, .am-next {
    width: 100px;
    border: none;
    padding: 10px 0;
    border-radius: 1000px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.9);
}
.owl-theme .owl-nav {
    margin: 0px;
}

.owl-dots {
    padding-bottom: 10px;
}