/* color & size */
.checked-input input[type="radio"] {
  display: none;
}
.checked-input input[type="radio"]:checked + label span {
  transform: scale(1.25);
}
.checked-input input[type="radio"]:checked + label .bg-color {
  border: 2px solid rgb(148, 221, 126);
  opacity: 0.9;
}

.checked-input label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.checked-input label:hover span {
  transform: scale(1.25);
}
.checked-input label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.checked-input label span.bg-yellow {
  background: yellow;
}
.checked-input label span.bg-green {
  background: green;
}
.checked-input label span.bg-brown {
  background: brown;
}
.checked-input label span.bg-blue {
  background: rgb(13, 13, 196);
}
.checked-input label span.bg-grey {
  background: grey;
}
.checked-input label span.bg-aqua {
  background: aqua;
}
.checked-input label span.bg-fuchsia {
  background: fuchsia;
}
.checked-input label span.bg-navy {
  background: navy;
}
.checked-input label span.bg-black {
  background: black;
}
.checked-input label span.bg-white {
  background: white;
  border: 1px dashed red;
}

.checked-input .bg-size {
  width: 50px;
  height: 35px;
  color: black;
  padding: 5px;
  border: 1px solid dimgray;
  border-radius: 5px;
}

.checked-input input[type="radio"]:checked + label.bg-size,
.checked-input input[type="radio"]:checked + label.bg-size span {
  background-color: rgb(104, 27, 27);
  color: white;
  transform: scale(1);
}

/* quantity */
.quantity button {
  padding: 0;
  margin: 0;
  border-style: none;
  touch-action: manipulation;
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 5px;
}
.quantity .qty {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
}
.quantity .qty label {
  flex: 1 0 100%;
}
.quantity .qty input {
  margin: 0px 5px;
  width: 7rem;
  height: 3rem;
  font-size: 1.3rem;
  text-align: center;
  border: 1px solid #575757;
  border-radius: 5px;
}
.quantity .qty button {
  width: 3rem;
  height: 3rem;
  color: #575757;
  font-size: 2rem;
  border: 1px solid #575757;
}

.border-b-2px {
  border-bottom: 2px solid black;
}

/* comment  */
.header_comment {
  font-size: 14px;
  overflow: hidden;
  border-bottom: 1px solid #e9ebee;
  line-height: 25px;
  margin-bottom: 24px;
  padding: 10px 0;
}
.sort_title {
  color: #4b4f56;
}
.sort_by {
  background-color: #f5f6f7;
  color: #4b4f56;
  line-height: 22px;
  cursor: pointer;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  padding: 4px;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #ccd0d5;
}
.count_comment {
  font-weight: 600;
}
.body_comment {
  padding: 0 8px;
  font-size: 14px;
  display: block;
  line-height: 25px;
  word-break: break-word;
}
.avatar_comment {
  display: block;
}
.avatar_comment img {
  height: 48px;
  width: 48px;
}
.box_comment {
  display: block;
  position: relative;
  line-height: 1.358;
  word-break: break-word;
  border: 1px solid #d3d6db;
  word-wrap: break-word;
  background: #fff;
  box-sizing: border-box;
  cursor: text;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0;
}
.box_comment textarea {
  min-height: 40px;
  padding: 12px 10px;
  width: 100%;
  border: none;
  resize: none;
}
.box_comment textarea:focus {
  outline: none !important;
}
.box_comment .box_post {
  border-top: 1px solid #d3d6db;
  background: #f5f6f7;
  padding: 8px;
  display: block;
  overflow: hidden;
}
.box_comment label {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  color: #90949c;
  line-height: 22px;
}
.box_comment button {
  margin-left: 8px;
  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  text-decoration: none;
  line-height: 22px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
  padding: 2px 20px;
}
.box_comment button:hover {
  background-color: #29487d;
  border-color: #29487d;
}
.box_comment .cancel {
  margin-left: 8px;
  background-color: #f5f6f7;
  color: #4b4f56;
  text-decoration: none;
  line-height: 22px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
  border-color: #ccd0d5;
}
.box_comment .cancel:hover {
  background-color: #d0d0d0;
  border-color: #ccd0d5;
}
.box_comment img {
  height: 16px;
  width: 16px;
}
.box_result {
  margin-top: 24px;
}
.box_result .result_comment h4 {
  font-weight: 600;
  white-space: nowrap;
  color: #365899;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.358;
  margin: 0;
}
.box_result .result_comment {
  display: block;
  overflow: hidden;
  padding: 0;
}
.child_replay {
  border-left: 1px dotted #d3d6db;
  margin-top: 12px;
  list-style: none;
  padding: 0 0 0 8px;
}
.reply_comment {
  margin: 12px 0;
}
.box_result .result_comment p {
  margin: 4px 0;
  text-align: justify;
}
.box_result .result_comment .tools_comment {
  font-size: 12px;
  line-height: 1.358;
}
.box_result .result_comment .tools_comment a {
  color: #4267b2;
  cursor: pointer;
  text-decoration: none;
}
.box_result .result_comment .tools_comment span {
  color: #90949c;
}
.body_comment .show_more {
  background: #3578e5;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  padding: 12px;
  text-shadow: none;
  width: 100%;
  font-weight: bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}

.alert-hidden {
  animation: animate 3s linear infinite;
}

@keyframes animate{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}