/* WEEKLY BEST */
.text-black .new-clothes__link--item::after {
    background-color: black ;
}

.home__product img{
    height: 430px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.home__product:hover {
    filter: brightness(90%);
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .home__product {
        padding: 0 15%;
    }
}