/* home  */
.bg-for-him-her {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 60px;
    font-weight: 800;
    color: white;
    filter: brightness(90%);
}

.bg-for-him-her:hover {
    /* opacity: 0.8; */
    filter: brightness(70%);
}

@media (max-width: 1024px) {
    .bg-for-him-her {
        height: 450px;
    }

    .img-clothes-men img {
        width: 33%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .bg-for-him-her {
        height: 300px;
        font-size: 40px;
    }

    .img-clothes-men img {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .img-clothes-men img {
        width: 100%;
        height: auto;
    }
}

/* banner mid - smart pants */
/* WEEKLY BEST */
.text-black .new-clothes__link--item::after {
    background-color: black ;
}