/* home  */
.bg-for-him-her {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 60px;
    font-weight: 800;
    color: white;
    filter: brightness(90%);
}

.bg-for-him-her:hover {
    /* opacity: 0.8; */
    filter: brightness(70%);
}

/* what's new */
.new-clothes {
    background: #aabec6;
    height: auto;
    color: #ffffff;
}

.new-clothes__header {
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
}

.new-clothes__link div{
    cursor: pointer;
    font-size: 21px;
    font-weight: 550;
    display: inline;
    padding: 20px;
    text-decoration: none;
}

.new-clothes__link--item {
    position: relative;
    color: white;
    margin-left: 20px;
}

.new-clothes__link--item::after {
    position: absolute;
    background-color: white;
    content: "";
    bottom: 10px;
    height: 3px;
    left: 10px;
    right: 10px;
    width: 0%;
}

.new-clothes__link--item::before {
    position: absolute;
    background-color: rgb(143, 48, 48);
    content: "";
    top: 10px;
    left: 100px;
    right: 0;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    opacity: 0;
}

.clothes__link--hover:hover .new-clothes__link--item::after {
    width: 80%;
    transition: 0.6s;
}

.clothes__link--hover:hover>div{
    color: white;
}

.clothes__link--hover:hover .new-clothes__link--item::before {
    opacity: 1;
    transition: 0.6s;
}

/* active link */
.active-link-new {
    position: absolute;
    background-color: rgb(143, 48, 48);
    content: "";
    top: 10px;
    left: 100px;
    right: 0;
    width: 5px;
    height: 5px;
    border-radius: 50px;
}

.active-link-new::before {
    position: absolute;
    background-color: white;
    content: "";
    bottom: -38px;
    height: 3px;
    left: -90px;
    right: 10px;
    width: 100px;
}

/* slide clothes what's new  */
.img-clothes-men img {
    width: 25%;
    height: auto;
}

@media (max-width: 1024px) {
    .bg-for-him-her {
        height: 450px;
    }

    .img-clothes-men img {
        width: 33%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .bg-for-him-her {
        height: 300px;
        font-size: 40px;
    }

    .img-clothes-men img {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .img-clothes-men img {
        width: 100%;
        height: auto;
    }
}

/* banner mid - smart pants */
/* WEEKLY BEST */
.text-black .new-clothes__link--item::after {
    background-color: black ;
}